<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestión de Alimentación</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/insuagroLogo32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/insuagroLogo16x16.png" />
  <link rel="stylesheet" href="/css/cowsView.css" />

</head>
<body>
  <header class="main-header">
    <div class="header-left">
    <img src="/images/insuagroLogoWY.jpg" alt="Logo" class="header-logo" />
  </div>

  <div class="header-center">
<h1 class="logo">Sistema de Alimentacion Vacas</h1>
  </div>

  <div class="header-right">
    <button class="config-button">⚙️ Configuración</button>
    <button class="logout-button" onclick=logout()>🔒 Cerrar sesión</button>
  </div>
  </header>



  <div class="main-container">
    <nav class="sidebar">
        <div class="finca-info">
            <img src="/images/logoPlatform.jpg" alt="Logo de la finca" class="finca-logo" />
            <h2 class="finca-nombre" id="farmName"></h2>
        </div>
      <ul>
        <li><a href="dashboard">🐄 Mis Vacas</a></li>
        <li class="gruposdeproduccion"><a href="#">👥 Grupos de Producción</a></li>
        <li><a href="listadevacas">📋 Lista de Alimentación</a></li>
        <li><a href="Logs">🏡 Registro de la Finca</a></li>
        <li><a href="Dispositivos">🧠 Controladores</a></li>
      </ul>
    </nav>

    <main class="main-content">
      <div class="welcome-message">
        <h2>Dispositivos integrados con la finca</h2>
        <div id="controllerList" class="controller-list-container"></div>
        </div>

        <!-- modal for modify values controller -->
        <div id="modifyControllerModal" class="modal">
          <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Modificar Controlador</h2>
            <h3 id="controllerSerial"></h3>
            <form id="modifyControllerForm">
              <label for="timeMotor1">Tiempo prendido de motor salida 1:</label>
              <input type="number" id="timeMotor1" name="timeMotor1" required step="0.1"/>

              <label for="timeMotor1">Tiempo apagado de motor salida 1:</label>
              <input type="number" id="timeMotor1Off" name="timeMotor1" required step="0.1"/>

              <label for="pulsesKg1">Pulsos por Kg salida 1:</label>
              <input type="number" id="pulsesKg1" name="pulsesKg1" required />

              <label for="timeMotor2">Tiempo encendido de motor salida 2:</label>
              <input type="number" id="timeMotor2" name="timeMotor2" required step="0.1"/>

              <label for="timeMotor2">Tiempo apagado de motor salida 2:</label>
              <input type="number" id="timeMotor2Off" name="timeMotor2" required step="0.1"/>

              <label for="pulsesKg2">Pulsos por Kg salida 2:</label>
              <input type="number" id="pulsesKg2" name="pulsesKg2" required />

              <button type="submit" class="submit-button">Guardar Cambios</button>
            </form>
          </div>
        </div>  
      </div>
      </main>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Aquí podrías cargar los grupos existentes desde tu backend
      const farmName = localStorage.getItem("farmName");

      document.getElementById("farmName").innerHTML = farmName;
    });
</script>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="/js/controllersView.js"></script>

</body>
</html>
